.body-container {
  background-color: var(--black);
}

.album-container {
  max-width: 1200px;
  margin: 0 auto;

  height: 100vh;
}

.album-container h1 {
  margin-bottom: 20px;

  text-align: center;
}


/*.album-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;

  margin-left: 10px; /* Ajuste o valor desejado *
  margin-right: 10px; /* Ajuste o valor desejado
*/


/*
.gallery-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
*/


