:root {
  --off-white: #fbfbfb;
  --light-gray: #edeeef;
  --silver-gray: #b0b0b0;
  --charcoal-gray: #464646;
  --black: #080808
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
}
